In [1]:
# input data

import pandas as pd
import re

data = []
with open('/Users/pengqiushi/Code/country.csv', 'r') as file:
    for line in file:
        data.append(re.split('[,]', line.strip(), maxsplit = 1))

raw_countries = pd.DataFrame(data)
raw_countries.columns = ['pmc_ID', 'country']
raw_countries = raw_countries.reindex(columns = raw_countries.columns.tolist() + ['converted_country_1', 'converted_country_2'])

raw_countries

,pmc_ID,country,converted_country_1,converted_country_2
0,PMC7992817,MD 20892 USA,NaN,NaN
1,PMC8102012,United States of America,NaN,NaN
2,PMC4135384,USA,NaN,NaN
3,PMC3376029,USA,NaN,NaN
4,PMC8554627,China,NaN,NaN
...,...,...,...,...
148287,PMC6887863,Sweden,NaN,NaN
148288,PMC4688379,"Harbin, China",NaN,NaN
148289,PMC4831476,China,NaN,NaN
148290,PMC8398815,Germany;,NaN,NaN
148291,PMC5826002,Pakistan,NaN,NaN

In [2]:
pip install flashgeotext

Requirement already satisfied: flashgeotext in /Users/pengqiushi/opt/anaconda3/lib/python3.8/site-packages (0.4.2)
Requirement already satisfied: flashtext<3.0,>=2.7 in /Users/pengqiushi/opt/anaconda3/lib/python3.8/site-packages (from flashgeotext) (2.7)
Requirement already satisfied: loguru>=0.5.3 in /Users/pengqiushi/opt/anaconda3/lib/python3.8/site-packages (from flashgeotext) (0.6.0)
Requirement already satisfied: pydantic<2.0,>=1.8 in /Users/pengqiushi/opt/anaconda3/lib/python3.8/site-packages (from flashgeotext) (1.9.2)
Requirement already satisfied: typing-extensions>=3.7.4.3 in /Users/pengqiushi/opt/anaconda3/lib/python3.8/site-packages (from pydantic<2.0,>=1.8->flashgeotext) (3.7.4.3)
Note: you may need to restart the kernel to use updated packages.

In [3]:
from flashgeotext.geotext import GeoText
geotext = GeoText()

for idx in range(len(raw_countries.loc[:, 'country'])):
    try:
        name = list(geotext.extract(input_text = raw_countries.loc[idx, 'country'])['countries'].values())[-1]['found_as'][0]
        raw_countries.converted_country_1[idx] = name
    except:
        pass

<ipython-input-3-faafa7f418d8>:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  raw_countries.converted_country_1[idx] = name
/Users/pengqiushi/opt/anaconda3/lib/python3.8/site-packages/pandas/core/indexing.py:1637: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_block(indexer, value, name)

In [4]:
raw_countries

,pmc_ID,country,converted_country_1,converted_country_2
0,PMC7992817,MD 20892 USA,USA,NaN
1,PMC8102012,United States of America,United States of America,NaN
2,PMC4135384,USA,USA,NaN
3,PMC3376029,USA,USA,NaN
4,PMC8554627,China,China,NaN
...,...,...,...,...
148287,PMC6887863,Sweden,Sweden,NaN
148288,PMC4688379,"Harbin, China",China,NaN
148289,PMC4831476,China,China,NaN
148290,PMC8398815,Germany;,Germany,NaN
148291,PMC5826002,Pakistan,Pakistan,NaN

In [7]:
import country_converter as coco

for idx in range(len(raw_countries.loc[:, 'country'])):
    try:
        standard_name = coco.convert(names = raw_countries.loc[idx, 'converted_country_1'], to = 'name_short')
    except:
        standard_name = 'N/A'
    raw_countries.converted_country_2[idx] = standard_name

MÃ©xico not found in regex
MÃ©xico not found in regex
MÃ©xico not found in regex
MÃ©xico not found in regex
MÃ©xico not found in regex
UAE not found in ISO3
Saxony not found in regex
MÃ©xico not found in regex
PerÃº not found in regex
MÃ©xico not found in regex
Nederland not found in regex
MÃ©xico not found in regex
UAE not found in ISO3
MÃ©xico not found in regex
UAE not found in ISO3
Sarawak not found in regex
MÃ©xico not found in regex
UAE not found in ISO3
UAE not found in ISO3
Sabah not found in regex
MÃ©xico not found in regex
MÃ©xico not found in regex
MÃ©xico not found in regex
PRC not found in ISO3
Holland not found in regex
MÃ©xico not found in regex
MÃ©xico not found in regex
MÃ©xico not found in regex
Slovenija not found in regex
MÃ©xico not found in regex
Saxony not found in regex
MÃ©xico not found in regex
MÃ©xico not found in regex
MÃ©xico not found in regex
MÃ©xico not found in regex
MÃ©xico not found in regex
MÃ©xico not found in regex
MÃ©xico not found in regex
MÃ©xico not found in regex
MÃ©xico not found in regex
Saxony not found in regex
MÃ©xico not found in regex
MÃ©xico not found in regex
UAE not found in ISO3
MÃ©xico not found in regex
MÃ©xico not found in regex
MÃ©xico not found in regex
MÃ©xico not found in regex
MÃ©xico not found in regex
MÃ©xico not found in regex
MÃ©xico not found in regex
MÃ©xico not found in regex
UAE not found in ISO3
MÃ©xico not found in regex
MÃ©xico not found in regex
MÃ©xico not found in regex
Nederland not found in regex
MÃ©xico not found in regex
MÃ©xico not found in regex
EspaÃ±a not found in regex
UAE not found in ISO3
UAE not found in ISO3
MÃ©xico not found in regex
MÃ©xico not found in regex
MÃ©xico not found in regex
MÃ©xico not found in regex
MÃ©xico not found in regex
UAE not found in ISO3
MÃ©xico not found in regex
PerÃº not found in regex
PerÃº not found in regex
MÃ©xico not found in regex
MÃ©xico not found in regex
MÃ©xico not found in regex
UAE not found in ISO3
MÃ©xico not found in regex
MÃ©xico not found in regex
PRC not found in ISO3
MÃ©xico not found in regex
MÃ©xico not found in regex
MÃ©xico not found in regex
MÃ©xico not found in regex
PerÃº not found in regex
MÃ©xico not found in regex
MÃ©xico not found in regex
PerÃº not found in regex
MÃ©xico not found in regex
UAE not found in ISO3
MÃ©xico not found in regex
MÃ©xico not found in regex
PerÃº not found in regex
MÃ©xico not found in regex
MÃ©xico not found in regex
MÃ©xico not found in regex
PerÃº not found in regex
MÃ©xico not found in regex
MÃ©xico not found in regex
MÃ©xico not found in regex
MÃ©xico not found in regex
MÃ©xico not found in regex
UAE not found in ISO3
MÃ©xico not found in regex
MÃ©xico not found in regex
MÃ©xico not found in regex
UAE not found in ISO3
MÃ©xico not found in regex
MÃ©xico not found in regex
MÃ©xico not found in regex
MÃ©xico not found in regex
UAE not found in ISO3
MÃ©xico not found in regex
MÃ©xico not found in regex
MÃ©xico not found in regex
MÃ©xico not found in regex
MÃ©xico not found in regex
MÃ©xico not found in regex
PerÃº not found in regex
PerÃº not found in regex
MÃ©xico not found in regex
MÃ©xico not found in regex
MÃ©xico not found in regex
UAE not found in ISO3
UAE not found in ISO3
MÃ©xico not found in regex
MÃ©xico not found in regex
UAE not found in ISO3
MÃ©xico not found in regex
MÃ©xico not found in regex
MÃ©xico not found in regex
MÃ©xico not found in regex
EspaÃ±a not found in regex
Deutschland not found in regex
MÃ©xico not found in regex
MÃ©xico not found in regex
MÃ©xico not found in regex
MÃ©xico not found in regex
MÃ©xico not found in regex
MÃ©xico not found in regex
MÃ©xico not found in regex
UAE not found in ISO3
MÃ©xico not found in regex
MÃ©xico not found in regex
MÃ©xico not found in regex
UAE not found in ISO3
MÃ©xico not found in regex
MÃ©xico not found in regex
MÃ©xico not found in regex
MÃ©xico not found in regex
MÃ©xico not found in regex
MÃ©xico not found in regex
MÃ©xico not found in regex
PRC not found in ISO3
MÃ©xico not found in regex
Norge not found in regex
MÃ©xico not found in regex
Aotearoa not found in regex
PerÃº not found in regex
MÃ©xico not found in regex
MÃ©xico not found in regex
MÃ©xico not found in regex
MÃ©xico not found in regex
PerÃº not found in regex
Aotearoa not found in regex
MÃ©xico not found in regex
MÃ©xico not found in regex
MÃ©xico not found in regex
MÃ©xico not found in regex
MÃ©xico not found in regex
UAE not found in ISO3
UAE not found in ISO3
MÃ©xico not found in regex
EspaÃ±a not found in regex
EspaÃ±a not found in regex
PerÃº not found in regex
MÃ©xico not found in regex
MÃ©xico not found in regex
MÃ©xico not found in regex
MÃ©xico not found in regex
MÃ©xico not found in regex
Deutschland not found in regex
EspaÃ±a not found in regex
MÃ©xico not found in regex
MÃ©xico not found in regex
UAE not found in ISO3
MÃ©xico not found in regex
PRC not found in ISO3
UAE not found in ISO3
MÃ©xico not found in regex
MÃ©xico not found in regex
MÃ©xico not found in regex
MÃ©xico not found in regex
PRC not found in ISO3
MÃ©xico not found in regex
UAE not found in ISO3
UAE not found in ISO3
UAE not found in ISO3
MÃ©xico not found in regex
MÃ©xico not found in regex
MÃ©xico not found in regex
MÃ©xico not found in regex
MÃ©xico not found in regex
MÃ©xico not found in regex
MÃ©xico not found in regex
Holland not found in regex
MÃ©xico not found in regex
MÃ©xico not found in regex
MÃ©xico not found in regex
MÃ©xico not found in regex
MÃ©xico not found in regex
MÃ©xico not found in regex
MÃ©xico not found in regex
UAE not found in ISO3
MÃ©xico not found in regex
MÃ©xico not found in regex
MÃ©xico not found in regex
Holland not found in regex
MÃ©xico not found in regex
MÃ©xico not found in regex
MÃ©xico not found in regex
MÃ©xico not found in regex

In [8]:
raw_countries

,pmc_ID,country,converted_country_1,converted_country_2
0,PMC7992817,MD 20892 USA,USA,United States
1,PMC8102012,United States of America,United States of America,United States
2,PMC4135384,USA,USA,United States
3,PMC3376029,USA,USA,United States
4,PMC8554627,China,China,China
...,...,...,...,...
148287,PMC6887863,Sweden,Sweden,Sweden
148288,PMC4688379,"Harbin, China",China,China
148289,PMC4831476,China,China,China
148290,PMC8398815,Germany;,Germany,Germany
148291,PMC5826002,Pakistan,Pakistan,Pakistan

In [12]:
len(raw_countries[raw_countries['converted_country_2'] == 'N/A'])

12132

In [13]:
for index, row in raw_countries.iterrows():
    if row['converted_country_1'] == 'MÃ©xico':
        row['converted_country_2'] = 'Mexico'
    elif row['converted_country_1'] == 'UAE':
        row['converted_country_2'] = 'United Arab Emirates'
    elif row['converted_country_1'] == 'PRC':
        row['converted_country_2'] = 'China'
    elif row['converted_country_1'] in ['Nederland', 'Holland']:
        row['converted_country_2'] = 'Netherlands'
    elif row['converted_country_1'] == 'PerÃº':
        row['converted_country_2'] = 'Peru'
    elif row['converted_country_1'] in ['Saxony', 'Deutschland']:
        row['converted_country_2'] = 'Germany'
    elif row['converted_country_1'] in ['Sarawak', 'Sabah']:
        row['converted_country_2'] = 'Malaysia'
    elif row['converted_country_1'] == 'Slovenija':
        row['converted_country_2'] = 'Slovenia'
    elif row['converted_country_1'] =='EspaÃ±a':
        row['converted_country_2'] = 'Spain'
    elif row['converted_country_1'] == 'Norge':
        row['converted_country_2'] = 'Norway'
    elif row['converted_country_1'] == 'Aotearoa':
        row['converted_country_2'] = 'New Zealand'
    else:
        pass

In [24]:
formal_countries = raw_countries.dropna(axis = 0,how = 'any').loc[:, ['pmc_ID', 'converted_country_2']]

In [27]:
formal_countries.rename(columns={'converted_country_2':'country'}, inplace = True)

In [30]:
formal_countries.to_csv('./formal_countries.csv', index = False)